*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    height: 90vh;
    width: 90rem;
}
button{
    border:2px solid rgb(238, 130, 130);
    padding:10px;
    cursor: pointer;
    font-size: 1.5em;
 
    border-radius: 12px;
}
#calculatenumber{
    padding: 10px;
    font-size: 2.5rem;
}
h1{
    padding: 10px;
}
