*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(210, 36%, 96%);
    color:hsl(209, 61%, 16%);
    font-family: "Open Sans", sans-serif;
    
}
.section-center{
    width: 90vw;
   max-width:25rem;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: white;
    padding:2rem;
}
.grocery-form{
    display: grid;
    place-items: center;
}
/*.form-control{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.alert{
    margin-bottom: 1rem;
    
    font-size: 0.9rem;
    border-radius: 0.25rem;
}
.alert-success{
    color:#155724;
    background-color: #d4edda;
}
.alert-danger{
    color:#721c24;
    background-color: #f8d7da;
}
h3{
    margin-bottom: 1.5rem;
}
#grocery{
    padding:0.25rem;
}
.submit-btn{
    border-color: transparent;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 0.85rem;
    cursor: pointer;
    background: hsl(205,89%,70%);
    content: #49a6e9;
}
.submit-btn:hover{
    background:#49a6e9 ;
    color:white;
}



.grocery-container{
    margin-top: 2rem;
    visibility: hidden;
}
.show-container{
    visibility: visible;
}


.grocery-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clear-btn{
        border: transparent;
        color: red;
        font-size: 1rem;
        display: grid;
        /* justify-content: center; */
        align-items: center;
        width: 10rem;
        height: 1.5rem;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 1.25rem;
        text-transform: capitalize;
}